/* General Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./pictures/nk.webp);
    backface-visibility: 1;
    }

.payment-container {
    padding: 60px;
    border-radius: 18px;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.1);
    width: 500px;
    background-image: linear-gradient(rgb(58, 204, 204), black);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
font-size: 3rem;
}

.section {
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #0a0a0a;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 19px;
    color: #fff;

}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 15px;
    }

    

.btn {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: rgb(11, 79, 79);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #000;
}

#COOLZY{
    text-decoration: line-through;
    color: rgb(238, 245, 245);
    font-size: 4rem;
    background-color: black;
  }

  i {
    font-size: 24px; 
    color: black; 
    display: inline-block; 
  }
#back-arrow{
    top: 0%;
    position: fixed;
    left: 20px;
}  

#back-arrow:hover{
    background-color: rgb(150, 149, 149);

}

  /* Mobile styles (for screens up to 768px) */
@media screen and (max-width: 768px) {

    .payment-container {
        /* padding: 60px; */
        /* border-radius: 18px; */
        box-shadow: 0 14px 18px rgba(0, 0, 0, 0.1);
        width: 300px;
        /* background-image: linear-gradient(rgb(58, 204, 204), black); */
    }


    body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(./pictures/nk.webp);
        /* backface-visibility: 1; */
        background-size: cover;
        }
    
        #COOLZY{
            text-decoration: line-through;
            color: rgb(238, 245, 245);
            font-size: 3.2rem;
            background-color: black;
          }

          h1 {
            text-align: center;
            margin-bottom: 10px;
            color: #333;
            font-size: 2.1rem;
        }
}


@media screen and (max-width: 568px) {
    
.payment-container {
    padding: 70px;
    border-radius: 18px;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.1);
    width: 220px;
    background-image: linear-gradient(rgb(58, 204, 204), black);
    margin-top: 6rem;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
font-size: 1.9rem;
}

.section {
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #0a0a0a;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 19px;
    color: #fff;

}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 12px;
    font-size: 15px;
    }

    

.btn {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: rgb(11, 79, 79);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #000;
}

#COOLZY{
    text-decoration: line-through;
    color: rgb(238, 245, 245);
    font-size: 3.2rem;
    background-color: black;
  }


#back-arrow{
    top: 0%;
    position: fixed;
    left: -10px;
}  

}

@media screen and (max-width: 468px){

}
